@charset "utf-8";
/* CSS Document */

html {
    position: relative;
    min-height: 95%;
}

body {
    display: block;
    background: url(background.jpg) center center / cover no-repeat fixed;
    padding: 0;
    margin: 0 0 40px;
    color: #ffffff;
}

nav.navbar {
    min-height: 30px;
}

p#topFont a.navbar-brand {
    padding-top: 5px;
    padding-bottom: 0;
    height: 30px;
}

p#topFont a {
    color: #ffffff;
    margin: 5px;
    font-size: 1.25em;
}

p#topFont a:hover {
    font-weight: bold;
}

#titleFont {
    font-size: 2.2em;
    margin-top: 20px;
}

p#show.messageFont {
    font-size: 1.75em;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

img {
    width:200px;
    display: block;
    margin: 20px auto 30px;

}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    padding-top: 30px;
}

@media screen and (max-width: 550px) {
    #titleFont {
        font-size: 2em;
        margin-top: 18px;
    }
    p#show.messageFont {
        font-size: 1.6em;
    }
    img {
        width: 170px;
    }
}

@media screen and (max-width: 380px) {
    p#topFont a {
        font-size: 1em;
    }
    #titleFont {
        font-size: 1.8em;
        margin-top: 18px;
    }
    p#show.messageFont {
        font-size: 1.4em;
    }
    img {
        width: 150px;
    }
}
