@charset "utf-8";
/* CSS Document */

html {
    position: relative;
    min-height: 95%;
}

body {
    display: block;
    background: url(background.jpg) center center / cover no-repeat fixed;
    padding: 0;
    margin: 0 0 40px;
    color: #ffffff;
}

/* Home Link */
nav.navbar {
    min-height: 30px;
}

a.navbar-brand {
    color: #ffffff;
    margin: 5px;
    font-size: 1.25em;
    padding-top: 5px;
    padding-bottom: 0;
    height: 30px;
}

a.navbar-brand:hover {
    font-weight: bold;
}

/* Fortune Cookie Title */
.titleFont {
    font-size: 2.2em;
    margin-top: 20px;
}

/* Quote Line */
#show {
    font-size: 1.75em;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

/* Cookie Image */
img {
    width:200px;
    display: block;
    margin: 20px auto 30px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    padding-top: 30px;
}

@media screen and (max-width: 550px) {
    /* Fortune Cookie Title */
    .titleFont {
        font-size: 2em;
        margin-top: 18px;
    }
    /* Quote Line */
    #show {
        font-size: 1.6em;
    }
    /* Cookie Image */
    img {
        width: 170px;
    }
}

@media screen and (max-width: 380px) {
    /* Home Link */
    a.navbar-brand {
        font-size: 1em;
    }
    /* Fortune Cookie Title */
    .titleFont {
        font-size: 1.8em;
        margin-top: 18px;
    }
    /* Quote Line */
    #show {
        font-size: 1.4em;
    }
    /* Cookie Image */
    img {
        width: 150px;
    }
}
